
<form #employeeForm="ngForm" (ngSubmit) = "saveEmployee(employeeForm)" >

  <div class="panel panel-primary">
    <div class ="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>
    <div class = "panel-body">
      <div class="form-group" [class.has-error]="fullNameControl.invalid && fullNameControl.touched" [class.has-success]="fullNameControl.valid">
          <label for="fullName" class="control-label">Full Name</label>
          <input required id="fullName" type="text" class="form-control"
                name="fullName" [(ngModel)]="fullName" #fullNameControl="ngModel">
                <span class="help-block" *ngIf = "fullNameControl.invalid && fullNameControl.touched">
                  Full Name is required.
                </span>
      </div>
      <div class="form-group" [class.has-error] = "emailControl.invalid && emailControl.touched">
        <label for="email" class="control-label">Email</label>
        <input required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" email id="email" type="text" class="form-control"
                name="email"[(ngModel)]="email" #emailControl ="ngModel">
                <span class="help-block" *ngIf ="emailControl.errors?.required && emailControl.touched">
                    Email is required.
                  </span>
                  <span class="help-block" *ngIf = "emailControl.errors?.pattern && emailControl.touched">
                      Email is invalid.
                    </span>
      </div>

      <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input id="phoneNumber" type="text" class="form-control"
                  name="phoneNumber"[(ngModel)]="phoneNumber">
      </div>
      <div class="form-group">
          <label for="dateOfBirth">Date Of Birth</label>
          <input id="dateOfBirth" type="text" bsDatepicker  [bsConfig]="datePickerConfig" class="form-control"
                  name="dateOfBirth"[(ngModel)]="dateOfBirth">
      </div>
      <div class="form-group" [class.has-error] = "contactPreferenceControl.invalid && contactPreferenceControl.touched">
          <label class="control-label">Contact Preference</label>
          <div class="form-control">
            <label class="radio-inline">
              <input required type="radio" name="contactPreference" #contactPreferenceControl="ngModel" value="email"
              [(ngModel)]="contactPreference">
              Email
            </label>
            <label class="radio-inline">
              <input required type="radio" name="contactPreference" #contactPreferenceControl="ngModel" value="phone"
              [(ngModel)]="contactPreference">
              Phone
            </label>
          </div>
          <span class="help-block" *ngIf = "contactPreferenceControl.errors?.required && contactPreferenceControl.touched">
              Contact Preference is invalid.
            </span>
        </div>
  
      <div class="form-group" [class.has-error]="genderControl.invalid && genderControl.touched" >
          <label class="control-label">Gender</label>
          <div class="form-control">
            <label class="radio-inline">
              <input required type="radio" name="gender" value="male" [(ngModel)]="gender" #genderControl="ngModel">
              Male
            </label>
            <label class="radio-inline">
              <input required type="radio" name="gender" value="female" [(ngModel)]="gender" #genderControl="ngModel">
              Female
            </label>
          </div>
          <span class="help-block" *ngIf = "genderControl.errors?.required && genderControl.touched">
              Gender is invalid.
            </span>
        </div>
        
        <div class="form-group">
            <div class="form-control">
              <label class="checkbox-inline">
                <input type="checkbox" name="isActive" [(ngModel)]="isActive">Is Active
              </label>
            </div>
          </div>
        <div class="form-group">
          <label for="department"> Department </label>
          <select id="department" name="department" class="form-control" [(ngModel)]="department">
            <option *ngFor = "let dept of departments" value={{dept.id}}>{{dept.name}}</option>
          </select>

        </div>  
        <div class="form-group">
            <label for="photoPath">Photo Path</label>
            <input id="photoPath" type="text" class="form-control"
                    name="photoPath"[(ngModel)]="photoPath">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary" (click)="togglePhotoPreview()">
            {{previewPhoto?"Hide":"Show"}} Preview</button>

        </div>
        <div class="form-group">
            <img [src] = "photoPath" height="200" width="200" *ngIf = "previewPhoto"/>
  
          </div>
          
    </div>

    <div class= "panel-footer">
        <button class="btn btn-primary" type="submit" [disabled] ="employeeForm.invalid">Save</button>
    </div>

  </div>
  </form>

  Angular Generated Form Model : {{employeeForm.value | json}} 